In [1]:
# Add dependencies

import pandas as pd
import requests
import numpy as np
import datetime 
import os
import glob

In [2]:
path = "raw_data"
all_files = glob.glob(path + "/*.csv")
merged_df = pd.DataFrame()
timeYr = []

for file_ in all_files:
    year_df = pd.read_csv(file_,index_col=None, header=0)
    timeYr.append(year_df)
merged_df = pd.concat(timeYr)
#frame.to_csv("data/data_merged.csv", index=False)
merged_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,500,2018-07-01 00:33:51.2640,2018-07-01 00:42:12.0280,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,1
1,455,2018-07-01 02:06:54.0270,2018-07-01 02:14:29.0900,72.0,W 52 St & 11 Ave,40.767272,-73.993929,529.0,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,1
2,1080,2018-07-01 02:09:16.4640,2018-07-01 02:27:17.0290,72.0,W 52 St & 11 Ave,40.767272,-73.993929,453.0,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,2
3,632,2018-07-01 02:55:04.5870,2018-07-01 03:05:36.7910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,465.0,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,1
4,1676,2018-07-01 03:24:27.4350,2018-07-01 03:52:23.7760,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3425.0,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,1

In [3]:
#see example below of how to select columns you want to keep in a df without changing original df(s) by using .copy()
#new_customer_data_df = customer_data_df[['id', 'first_name', 'last_name']].copy()
#new_customer_data_df.head()

In [4]:
#Add "Minutes" column for trip duration
merged_df['Duration(Minutes)'] = merged_df['tripduration']/60
#For Visual purposes, rounded
merged_df['Duration(Minutes)'] = round(merged_df['Duration(Minutes)'])
merged_df['Duration(Minutes)'] = merged_df['Duration(Minutes)'].astype(int)

In [5]:
merged_df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Duration(Minutes)
2092568,729,2019-10-31 23:59:12.1900,2019-11-01 00:11:21.4860,237.0,E 11 St & 2 Ave,40.730473,-73.986724,311.0,Norfolk St & Broome St,40.717227,-73.988021,25725,Subscriber,1995,1,12
2092569,645,2019-10-31 23:59:17.0470,2019-11-01 00:10:02.9450,3259.0,9 Ave & W 28 St,40.749370,-73.999234,461.0,E 20 St & 2 Ave,40.735877,-73.982050,39583,Customer,1969,0,11
2092570,257,2019-10-31 23:59:22.5140,2019-11-01 00:03:40.2600,3798.0,W 40 St & 5 Ave,40.752269,-73.982079,505.0,6 Ave & W 33 St,40.749013,-73.988484,21240,Subscriber,1985,1,4
2092571,466,2019-10-31 23:59:23.1710,2019-11-01 00:07:09.2050,328.0,Watts St & Greenwich St,40.724055,-74.009660,361.0,Allen St & Hester St,40.716059,-73.991908,34916,Subscriber,1989,0,8
2092572,81,2019-10-31 23:59:51.5170,2019-11-01 00:01:13.2150,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3093.0,N 6 St & Bedford Ave,40.717452,-73.958509,25745,Subscriber,1990,1,1

In [6]:
#len gives number of rows
len(merged_df)

16710104

In [7]:
#take sample of the data so that files are not too large 
sample_df = merged_df.sample(frac=0.25)
sample_df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Duration(Minutes)
905499,785,2018-09-16 08:42:01.1240,2018-09-16 08:55:06.7270,223.0,W 13 St & 7 Ave,40.737815,-73.999947,341.0,Stanton St & Mangin St,40.717821,-73.976289,32658,Subscriber,1986,1,13
1686389,537,2019-08-23 07:00:02.3540,2019-08-23 07:08:59.6860,3467.0,W Broadway & Spring Street,40.724947,-74.001659,3690.0,Park Pl & Church St,40.713342,-74.009355,18785,Subscriber,1968,1,9
1821751,1214,2019-08-25 00:25:51.0440,2019-08-25 00:46:05.8950,490.0,8 Ave & W 33 St,40.751551,-73.993934,490.0,8 Ave & W 33 St,40.751551,-73.993934,15691,Subscriber,1988,1,20
1086982,3621,2018-08-18 13:54:11.0790,2018-08-18 14:54:32.9650,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,15060,Customer,1985,1,60
641733,814,2019-07-10 14:04:32.4620,2019-07-10 14:18:06.7160,3290.0,E 89 St & York Ave,40.777945,-73.946041,3747.0,E 84 St & 3 Ave,40.777554,-73.955128,39707,Subscriber,1962,1,14

In [8]:
len(sample_df)

4177526

In [9]:
# Delete extraneous column
#merged_df = merged_df.drop(['usertype'], axis=1)

In [10]:
rename_df = sample_df.rename(columns={"tripduration":"Trip Duration", "starttime":"Start Time", "stoptime": "End Time",
                                                       "start station id":"Start Station ID", "start station name":"Start Station Name","startstationlatitude":"Start Station Latitude",
                                                      "start station longitude":"Start Station Longitude", "end station id":"End Station ID", "end station name":"End Station Name", 
                                                      "end station latitude":"End Station Latitude", "end station longitude":"End Station Longitude", "bikeid":"Bike ID", "birth year":"Birth Year",
                                                      "usertype": "User Type", "gender": "Gender", "Duration(Minutes)": "Duration (Minutes)"})
rename_df.tail()

,Trip Duration,Start Time,End Time,Start Station ID,Start Station Name,start station latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Duration (Minutes)
905499,785,2018-09-16 08:42:01.1240,2018-09-16 08:55:06.7270,223.0,W 13 St & 7 Ave,40.737815,-73.999947,341.0,Stanton St & Mangin St,40.717821,-73.976289,32658,Subscriber,1986,1,13
1686389,537,2019-08-23 07:00:02.3540,2019-08-23 07:08:59.6860,3467.0,W Broadway & Spring Street,40.724947,-74.001659,3690.0,Park Pl & Church St,40.713342,-74.009355,18785,Subscriber,1968,1,9
1821751,1214,2019-08-25 00:25:51.0440,2019-08-25 00:46:05.8950,490.0,8 Ave & W 33 St,40.751551,-73.993934,490.0,8 Ave & W 33 St,40.751551,-73.993934,15691,Subscriber,1988,1,20
1086982,3621,2018-08-18 13:54:11.0790,2018-08-18 14:54:32.9650,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,15060,Customer,1985,1,60
641733,814,2019-07-10 14:04:32.4620,2019-07-10 14:18:06.7160,3290.0,E 89 St & York Ave,40.777945,-73.946041,3747.0,E 84 St & 3 Ave,40.777554,-73.955128,39707,Subscriber,1962,1,14

In [11]:
# Delete extraneous columns
rename_df = rename_df.drop(['Trip Duration'], axis=1)
rename_df.head()

,Start Time,End Time,Start Station ID,Start Station Name,start station latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Duration (Minutes)
1551956,2018-09-26 08:47:33.7650,2018-09-26 09:02:44.3540,3163.0,Central Park West & W 68 St,40.773407,-73.977825,3235.0,E 41 St & Madison Ave,40.752165,-73.979922,33374,Subscriber,1990,1,15
1888047,2018-07-08 15:43:26.1300,2018-07-08 15:49:46.7570,3680.0,E 43 St & 5 Ave,40.754121,-73.980252,498.0,Broadway & W 32 St,40.748549,-73.988084,24989,Subscriber,1993,1,6
1177207,2018-09-20 08:05:46.8270,2018-09-20 08:12:23.3110,3474.0,6 Ave & Spring St,40.725256,-74.004121,309.0,Murray St & West St,40.714979,-74.013012,29370,Subscriber,1991,1,7
1331255,2019-07-19 19:46:34.8230,2019-07-19 20:06:41.7750,150.0,E 2 St & Avenue C,40.720874,-73.980858,127.0,Barrow St & Hudson St,40.731724,-74.006744,39580,Subscriber,1969,2,20
204164,2018-10-03 18:34:14.5860,2018-10-03 18:40:14.8350,368.0,Carmine St & 6 Ave,40.730386,-74.002150,382.0,University Pl & E 14 St,40.734927,-73.992005,26906,Subscriber,1986,1,6

In [12]:
# Check for missing values
rename_df.count()

Start Time                 4177526
End Time                   4177526
Start Station ID           4176930
Start Station Name         4176930
start station latitude     4177526
Start Station Longitude    4177526
End Station ID             4176930
End Station Name           4176930
End Station Latitude       4177526
End Station Longitude      4177526
Bike ID                    4177526
User Type                  4177526
Birth Year                 4177526
Gender                     4177526
Duration (Minutes)         4177526
dtype: int64

In [13]:
# drop null rows
no_null_df = rename_df.dropna(how='any')
len(no_null_df)

4176930

In [14]:
no_null_df['Year'] = pd.to_datetime(no_null_df['Start Time']).dt.year
#final_2018_2019_df['Month'] = pd.to_datetime(final_2018_2019_df['Start Time']).dt.month
#final_2018_2019_df['Day'] = pd.to_datetime(final_2018_2019_df['Start Time']).dt.day
#final_2018_2019_df['Hour'] = pd.to_datetime(final_2018_2019_df['Start Time']).dt.hour
#final_2018_2019_df['Time'] = pd.to_datetime(final_2018_2019_df['Start Time']).dt.time
no_null_df.tail()

C:\Users\Jenkir\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Start Time,End Time,Start Station ID,Start Station Name,start station latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Duration (Minutes),Year
905499,2018-09-16 08:42:01.1240,2018-09-16 08:55:06.7270,223.0,W 13 St & 7 Ave,40.737815,-73.999947,341.0,Stanton St & Mangin St,40.717821,-73.976289,32658,Subscriber,1986,1,13,2018
1686389,2019-08-23 07:00:02.3540,2019-08-23 07:08:59.6860,3467.0,W Broadway & Spring Street,40.724947,-74.001659,3690.0,Park Pl & Church St,40.713342,-74.009355,18785,Subscriber,1968,1,9,2019
1821751,2019-08-25 00:25:51.0440,2019-08-25 00:46:05.8950,490.0,8 Ave & W 33 St,40.751551,-73.993934,490.0,8 Ave & W 33 St,40.751551,-73.993934,15691,Subscriber,1988,1,20,2019
1086982,2018-08-18 13:54:11.0790,2018-08-18 14:54:32.9650,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,15060,Customer,1985,1,60,2018
641733,2019-07-10 14:04:32.4620,2019-07-10 14:18:06.7160,3290.0,E 89 St & York Ave,40.777945,-73.946041,3747.0,E 84 St & 3 Ave,40.777554,-73.955128,39707,Subscriber,1962,1,14,2019

In [15]:
#Use pandas groupby function to find most popular trips
popular_df = no_null_df.groupby(['Start Station Name', 'End Station Name']).size().reset_index(name = 'Number of Trips')
popular_df.tail()

,Start Station Name,End Station Name,Number of Trips
279650,old - E 13 St & Avenue A,Water - Whitehall Plaza,1
279651,old - E 13 St & Avenue A,Watts St & Greenwich St,2
279652,old - E 13 St & Avenue A,Wyckoff St & 3 Ave,1
279653,old - E 13 St & Avenue A,Wythe Ave & Metropolitan Ave,1
279654,old - E 13 St & Avenue A,old - E 13 St & Avenue A,13

In [16]:
final_df = pd.merge(no_null_df, popular_df, how='inner')
                    #['Number of Trips'], on=["Start Station Name", "End Station Name"], how='left')
final_df.head()

,Start Time,End Time,Start Station ID,Start Station Name,start station latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Duration (Minutes),Year,Number of Trips
0,2018-09-26 08:47:33.7650,2018-09-26 09:02:44.3540,3163.0,Central Park West & W 68 St,40.773407,-73.977825,3235.0,E 41 St & Madison Ave,40.752165,-73.979922,33374,Subscriber,1990,1,15,2018,22
1,2018-09-19 08:41:05.3440,2018-09-19 08:53:44.5080,3163.0,Central Park West & W 68 St,40.773407,-73.977825,3235.0,E 41 St & Madison Ave,40.752165,-73.979922,28170,Subscriber,1990,1,13,2018,22
2,2018-07-10 07:16:07.4280,2018-07-10 07:30:29.5740,3163.0,Central Park West & W 68 St,40.773407,-73.977825,3235.0,E 41 St & Madison Ave,40.752165,-73.979922,27395,Subscriber,1972,1,14,2018,22
3,2019-08-03 18:37:08.8130,2019-08-03 19:13:29.0690,3163.0,Central Park West & W 68 St,40.773407,-73.977825,3235.0,E 41 St & Madison Ave,40.752165,-73.979922,15009,Customer,1969,0,36,2019,22
4,2019-10-16 09:58:31.6420,2019-10-16 10:11:17.0500,3163.0,Central Park West & W 68 St,40.773407,-73.977825,3235.0,E 41 St & Madison Ave,40.752165,-73.979922,41630,Subscriber,1983,1,13,2019,22

In [20]:
# Export to csv
final_df.to_csv("clean_data/final_compared_2018_2019.csv")

In [18]:
#trips_2018_df.to_csv("clean_data/trips_2018.csv")
#trips_2019_df.to_csv("clean_data/trips_2019.csv")
#trips_2020_df.to_csv("clean_data/trips_2020.csv")
#trips_2018_df.head()

In [19]:
#Check for percentage of missing data
#def missing_data(year_df):
#    total = year_df.isnull().sum().sort_values(ascending=False)
#    percent = (year_df.isnull().sum()/year_df.isnull().count()*100).sort_values(ascending=False)
#    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
#    return missing_data
#missing_data(year_df)